#editProfile {
  position:relative;
  margin-top: 500px;
  left: 100px;
  width: 214px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color: white;
  border:none;
}

#content{
  position: absolute;
  top: 80px;
  left: 40px;
}

img {
  margin-left: 35px;
}