.form{
position: absolute;
left: 40px;
top: 150px;
font-family: Roboto;
font-style: normal;
font-size: 12px;          
 zoom: 1;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

#presencasTxt {
 position: relative;
 right: 110px;
}

#registoColab {
 position: absolute;
 top: 90px;
 left: 15px;
}

h5 {
 font-family: roboto;
 font-weight: bold;
 color: black;
 font-size: 22px;
}