  #back{
  position: absolute;
  max-width: 31px;
  max-height: 44px;
  left: 17px;
  top: 7px;
  }
  
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width:370px;
  top: 110px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}
^
/*linhas da tabela a cinzento*/
/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/
  
#auditoresTxt{
  position: absolute;
  left: 47px;
  top: 80px;
  font-family: roboto;
  color:white;
}

#addAuditor{
  position: absolute;
  width: 270px;
  height: 30px;
  left: 63px;
  top: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 23px;
  margin-top: 2px;
  border-radius: 50px;
  background-color: white;
  color: #AB0404;
  border: none;
}

#administradorTxt {
 position: relative;
 right: 220px;
}

#diference {
  background: #AB0404;
  color: white;
}
