#avaliacaoEquipaTxt {
 position: relative;
 right: 40px;
}

h4{
    margin-top: 20px;
    color: black;
    font-size: 15px;
    padding: 5px;
}

#content{
    position: absolute;
    top: 80px;
    left: 80px;
}

.slider {
    width: 180px;
}

#observacoes {
    bottom: 50px;
    margin-left: -75px;
}

h3{
    position: relative;
    font-size: 20px;
    font-style: Bold;
    margin-left: -80px;
}

/*#equipaTxt {*/
/*    margin-left: 0;*/
/*}*/