#content{
    position: absolute;
    top: 140px;
    left: 80px;
}

#custoOcorrencia{
 position: absolute;
 top: 80px;
 left: 15px;
}

h5 {
 font-family: roboto;
 font-weight: bold;
 color: black;
 font-size: 22px;
}


h4{
    margin-top: 10px;
    color: #777;
    font-size: 15px;
}


#custo{
    position: absolute;
    width: 134px;
    height: 29px;
    left: 80px;
    top: 300px;
    margin: 10px;
}

#custoOcorrenciaTxt{
 position: relative;
 right: 60px;
}





