/*.content{*/
/*position: absolute;*/
/*width: 378px;*/
/*height: 456px;*/
/*left: 18px;*/
/*top: 169px;*/
/*}*/

#content{
    position: absolute;
    top: 80px;
    left: 80px;
}

/*.item {*/
/*    display: flex;*/
/*    margin: 5px;*/
/*}*/
.input{
    padding: 0px;
}

h4{
    margin-top: 10px;
    color: #777;
    font-size: 15px;
}


#custo{
    position: absolute;
    width: 134px;
    height: 29px;
    left: 90px;
    top: 300px;
    display: flex;
    margin: 10px;
    /*font-family: Roboto;*/
    /*font-style: normal;*/
    /*font-weight: 500;*/
    /*font-size: 24px;*/
    /*line-height: 29px;*/
}

.btn{
position: absolute;
    left: 114px;
    top: 310px;
}

.btn-primary{
    background: #AB0404;
    border-color: #AB0404;;
}






