/*Radio Button*/


.stv-radio-buttons-wrapper {
    position:relative;
    top: 60px;
    left: 80px;
  clear: both;
  display: inline-block;
}
.stv-radio-buttons-wrapper input {
  width: 1000px;
}
.stv-radio-button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.stv-radio-button + label {
  float: left;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  margin-right: -1px;
  color: black;
  background-color: white;
}
.stv-radio-button:checked + label {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 2em;
}

/*Line chart position*/

#lineChart{
    position: relative;
    top: 60px;
    right: 40px;
}

#barChart{
    position: relative;
    top: 60px;
    right: 40px;
}