:root {
    --primary-color: #AB0404;
    --secondary-color: #E7E7E7;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


html, body {
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 414px;
    max-height: 736px;
}

.content {
    flex: 1 0 auto;
}

.app-header .container ul {
    margin: 0 auto;
    padding: 0px;
     display: flex;
     align-items: center;
    justify-content:space-between;
    list-style: none;
}




.container div input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #777;
    width:300px;
    padding: 10px;
}

.container h4{
    margin: 5px;
    color: #777;
}

.app-header {
    background-color: white;
    box-shadow: 0 5px 5px -5px #333;
}


.btn-primary {
    color: black;
    background-color: white;
    border-color: #000000;
    width: 250px;
    margin-top: 20px;
}

.app-header div ul {
    margin-bottom: 0px;
}

.title{
    margin-top:0px;
    margin-bottom: 0px;
}

#profilePicture{
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

#marginPicture{
    margin-bottom: 60px;
    margin-top: 10px;
}

#marginPicture ul{
    list-style: none;
      display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.icon{
    width: 40px;
}

.app-footer {
    flex-shrink: 0;
    background: white;
    padding-top: 0px;
    margin-top:5px;
    box-shadow: 0 -5px 5px -5px #333;
}

.app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}







