.localExternal{
    position: absolute;
    top: 116px;
    left: 30px;
    width: 356px;
    height: 300px;
}

b{
    position: absolute;
    left: 34px;
    top: 72px;
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
    
}

form{
    position: absolute;
width: 80px;
height: 20px;
left: 167px;
top: 532px;
}