
.name {
  color: #fff;
}
.v144_3 {
  width: 27px;
  height: 29px;
  background: url("../images/v144_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 372px;
  overflow: hidden;
}
.v147_2 {
  width: 338px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 34px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v147_3 {
  width: 368px;
  height: 50px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v147_4 {
  width: 214px;
  height: 52px;
  background: rgba(171,4,4,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  color:white;
  border:none;
}
.v147_5 {
  width: 281px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 269px;
  left: 61px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

#recuperacaoTxt {
  position: relative;
  right: 34px;
}


  