/* 
/* PlaceHolders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BDBDBD;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BDBDBD;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #BDBDBD;
  }
  
  /*Estilo Padrão*/
:root{
    --primary-color: #E7E7E7;
    --secondary-color: #AB0404;
    --shadow-color: #777;
    --font-color: black;
}

.title {
  font-size: 25px;
}

.textCenter{
  width:100%;
  text-align: center;
  background-color:white;
  margin-bottom: 0px;
}

html, body {
    height: 100%;
    max-width: 414px;
    max-height: 736px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: var(--font-color);
}

/* Alteracao do estilo do cabecalho */
#app-header {
    box-shadow: 0 5px 5px -5px var(--shadow-color);
    position: fixed;
    align-items: center;
    width:  414px;
    z-index: 2;
}


    
#app-header .container ul {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}




/* Alteracao do estilo de footer */

#app-footer {
    position:absolute; 
    overflow:hidden;
    box-shadow: 0 -5px 5px -5px var(--shadow-color);
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 414px;
}

#app-footer ul {
    padding: 0px;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/*padroes de ferramentas*/

.button svg {
    color: var(--font-color);
}

.link{
    color: var(--secudary-color);
    text-decoration:none;
}

#check{
  color: var(--secondary-color);
}

/*____________________________________________________________________________________________________________________*/



.name {
  color: #fff;
}
.v144_3 {
  width: 27px;
  height: 29px;
  background: url("../images/v144_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 372px;
  overflow: hidden;
}
.v147_2 {
  width: 338px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 34px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v147_3 {
  width: 368px;
  height: 50px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v147_4 {
  width: 214px;
  height: 52px;
  background: rgba(171,4,4,1);
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  color:white;
  border:none;
}
.v147_5 {
  width: 281px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 269px;
  left: 61px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}


  