/* 
/* PlaceHolders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BDBDBD;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BDBDBD;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #BDBDBD;
  }
  
  
 /*Estilo Padrão*/
:root{
    --primary-color: #E7E7E7;
    --secondary-color: #AB0404;
    --shadow-color: #777;
    --font-color: black;
}

.title {
  font-size: 25px;
}

.textCenter{
  width:100%;
  text-align: center;
  background-color:white;
  margin-bottom: 0px;
}

html, body {
    height: 100%;
    max-width: 414px;
    max-height: 736px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: var(--font-color);
}

/* Alteracao do estilo do cabecalho */
#app-header {
    box-shadow: 0 5px 5px -5px var(--shadow-color);
    position: fixed;
    align-items: center;
    width:  414px;
    z-index: 2;
}


    
#app-header .container ul {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}




/* Alteracao do estilo de footer */

#app-footer {
    position:absolute; 
    overflow:hidden;
    box-shadow: 0 -5px 5px -5px var(--shadow-color);
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 414px;
}

#app-footer ul {
    padding: 0px;
    margin:7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

/*padroes de ferramentas*/

.button svg {
    color: var(--font-color);
}

.link{
    color: red;
    text-decoration:none;
}