

/*Estilo da pagina*/
.container ul{
    position:absolute;
    top: 300px;
    left: 0px;
    display: align;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 100px;
    
}

.container ul li {
    background: var(--primary-color);
    width: 332px;
    margin-top:10px;
    height: 50px;
    
}

.box{
    background: var(--primary-color);
    box-shadow: 0 0 5px var(--shadow-color);
}


/*Posicoes fixas */
#boxWinnerOne{
    position: absolute;
    width: 110px;
    height: 175px;
    left: 151px;
    top: 119px;
}

#boxWinnerTwo {
    position: absolute;
    width: 110px;
    height: 150px;
    left: 41px;
    top: 145px;
    
}

#boxWinnerTree{
    position: absolute;
    width: 110px;
    height: 125px;
    left: 261px;
    top: 170px;
}

#iconOne {
    position: absolute;
width: 50px;
height: 50px;
left: 181px;
top: 65px;
}
#iconTwo {
    position: absolute;
width: 50px;
height: 50px;
left: 294px;
top: 115px;
}

#iconTree {
    position: absolute;
    width: 48.91px;
    height: 50px;
    left: 74px;
    top: 87px;
}

#numberOne {
   position:relative;
   text-align: center;
   bottom:40px;
}

#numberTwo {
     position:relative;
   text-align: center;
   bottom:40px;
}
#numberTree {
     position:relative;
   text-align: center;
   bottom:40px;
}

