.container div input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #777;
    width:300px;
    padding: 6px;
}

.app-header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

 #rightArrow{
 color: var(--secondary-color);
 transform: rotate(180deg);
}

#checklistTxt{
 position: relative;
 right: 110px;
}


.form{
position: absolute;
left: 0;
top: 160px;
font-family: Roboto;
font-style: normal;
font-size: 10px;
 zoom: 1;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -moz-transform: scale(2);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}


#content label{
 position: relative;
 right: 280px;
}

#registoTrabalho{
 position: absolute;
 top: 90px;
 left: 15px;
}

h5 {
 font-family: roboto;
 font-weight: bold;
 color: black;
 font-size: 22px;
}
