#content{
    position: absolute;
    top: 80px;
    left: 20px;
}

#horaChegadaTxt {
    position: relative;
    right: 80px;
}

 #rightArrow{
 color: var(--secondary-color);
 transform: rotate(180deg);
}

h5 {
 font-family: roboto;
 font-weight: bold;
 color: black;
 font-size: 22px;
}

#textConfirm{
    color: #4E4E4E;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
}

#horas {
    position: absolute;
    width: 170px;
    height: 61px;
    left: 95px;
    margin-top: 150px;
    background: rgba(171, 4, 4, 0.58);
    font-size: 35px;
}