/* PlaceHolders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BDBDBD;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #BDBDBD;
}

/* Estilo Padrão */
:root{
  --primary-color: #E7E7E7;
  --secondary-color: #AB0404;
  --shadow-color: #777;
  --font-color: #000000;
  --background-color: #FFFFFF;
}

/* Estilo padrão para dark mode */
  /*:root{*/
    /*--primary-color: white;*/
    /*--secondary-color: #AB0404;*/
    /*--shadow-color: white;*/
    /*--font-color: white;*/
    /*--background-color:#3D3D3D;*/
/*    --input-color: rgb()*/
/*}*/

html {
    background: var(--background-color);
}

/* Estilo da letra */
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  align-items: center;
}

/* Títulos das páginas */
.title {
  font-size: 20px;
}

.textCenter{
  width:100%;
  text-align: center;
  margin-bottom: 0px;
}

/* Alteração do estilo do cabeçalho */
#app-header {
  box-shadow: 0 5px 5px -5px var(--shadow-color);
  position: fixed;
  align-items: center;
  z-index: 3;
  background: var(--background-color);
  width: 100%;
}

#app-header .container ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

#app-header ul a {
    color: var(--font-color);
}

/* Alteração do estilo do footer */
#app-footer {
  position:absolute; 
  overflow:hidden;
  box-shadow: 0 -5px 5px -5px var(--shadow-color);
  position: fixed;
  bottom: 0;
  background: var(--background-color);
  width: 100%;
}

#app-footer ul {
  padding: 0px;
  margin:7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#app-footer ul a {
  color: var(--font-color);
}

/* Padrões de ferramentas */
a{
  color: var(--secondary-color);
  text-decoration:none;
}

a ul {
  color: var(--secondary-color);
  text-decoration:none;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 30px;
  padding: 3px;
}

button {
  width: 230px;
  height: 35px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border:none;
}

/* Muda a cor do "certo" e da seta */
.check{
  color: var(--secondary-color);
}

 .rightArrow{
 color: var(--secondary-color);
 transform: rotate(180deg);
}

/*Estilo do input type range*/
.slidecontainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidecontainer p{
  color: var(--shadow-color);
  font-size: 14px;
}

.slider {
  -webkit-appearance: none;
  width: 180px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #AB0404;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* Estilo dos inputs*/
input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"] {
  max-height: 45px;
  max-width: 350px;
  width: 250px;
  padding: 10px;
}

/* Checkbox */
.form{
  margin-top: 25px;
}

.checkbox-container {
  display: flex;
  padding: 3px;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
}

.checkbox-container label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 7px;
  border: 1px solid black;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Estilo dos títulos */
h1 {
  color: #5A5A5A;
  font-size: 18px;
}

h2{
  font-size: 20px;
  font-weight: Bold;
  margin-left: -142px;
  margin-top: 50px;
}

h3{
  font-size: 16px;
  margin-left: -40px;
}

h4{
  margin-top: 10px;
  color: #777;
  font-size: 15px;
}

h5 {
 font-weight: 600;
 color: black;
 font-size: 20px;
}

h6 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
}

p {
  font-size: 18px;
}

/* Diferentes containers */
.container-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logotipo */
.logoImg {
  max-width: 146.37px;
  max-height:143.01px;
  margin-top: 80px;
}

/*tablas*/
table {
    font-family: 'Arial';
    margin: 25px auto;
    width: 90% !important;
    border-collapse: collapse;
    border: none !important;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
}
table tr:hover {
    background: #f4f4f4;
}
table tr:hover td {
    color: #555;
}
table th, table td {
    color: #999;
    border: 1px solid #eee;
    border-bottom: none !important;
    border-top: none !important;
    padding: 12px 35px;
    border-collapse: collapse;
    
}
table th {
    background: rgba(151, 8, 8, 0.733);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}
table th.last {
    border-right: none;
}

/* top-left border-radius */
table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table td:first-child, th:first-child{
    border: none !important;
}

table td:last-child, th:last-child{
    border: none !important;
}
