#avaliacaoIndividualTxt {
 position: relative;
 right: 60px;
}

#content {
    position: absolute;
    top: 80px;
    left: 80px;
}


#observacoes {
    bottom: 50px;
    margin-left: -75px;
}

#rectangle {
    width:270px; 
    height:60px; 
    border:1px solid #4E4B4B;
    margin-left: -30px;
    margin-top: -5px;
    border-radius: 20px
}

#marginPicture ul{
    list-style: none;
    display:flex;
    flex-direction: flex;
    margin-top: 4px;
    margin-left: -20px;
}

h3{
    position: relative;
    font-size: 16px;
    margin-left: -60px;
}

h4{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    margin-top: 16px;
}

.slidecontainer p{
    color: var(--shadow-color);
    font-size: 14px;
}

.slidecontainer {
    margin-top: 30px;
}

#totalPontos{
    position: absolute;
    width: 100px;
    height: 50px;
}