* 
/* PlaceHolders */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BDBDBD;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BDBDBD;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #BDBDBD;
  }
  
  .screen{
    width:100%;
    height:100%;
    max-width: 414px;
    max-height: 736px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    z-index:-1;
  }
  .navbar{
    width: 100%;
    max-width:414px;
    background-color: rgba(255,255,255,1);
    z-index:3;
    text-align:center;
    overflow: hidden;
  }
  .search{
      position: absolute;
width: 372px;
height: 38px;
left: 21px;
top: 81px;
  }
  #ocorrenciasporTxt{
      position: absolute;
width: 306px;
height: 26px;
left: -26px;
top: 149px;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;
  }
  #notificationTxt{
      position: absolute;
width: 159px;
height: 31px;
left: 63px;


font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;
display: flex;
align-items: center;

color: #000000;

  }
  #barraSuperior{
       position: absolute;
  width: 414px;
  height: 0px;
  left: 0px;
  top: 56px;
  opacity: 0.4;
  border: 2px solid rgba(105, 104, 104, 0.15);
  }
  #naotemmaisTxt{
      position: absolute;
width: 368px;
height: 24px;
left: 23px;
top: 578px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
  }
  #barralista{
      position: absolute;
width: 417px;
height: 0px;
left: 0px;
top: 181px;

border: 1px solid #000000;
  }
  #back{
      position: absolute;
max-width: 31px;
max-height: 44px;
left: 17px;
top: 7px;
  }
  
  .alert {
    border: 0;
    border-radius: 0;
    padding: 20px 15px !important;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    top: 184px;
    width: 417px;

}
}

.alert .alert-icon {
    display: block;
    float: left;
    margin-right: 1.071rem;
}

.alert.alert-info {
    background: rgba(243, 0, 0, 0.19);;
    color: #000000;
    

}