/* Janela para avaliar a equipa - observações */
#observacoes {
    margin-bottom: 60px;
    margin-top: 5px;
}

#obserTxt {
    margin-left: 5px;
}

#equipaTxt {
    margin-top: 65px;
}

/* Janela para avaliação individual - identificação do operacional */
#rectangle {
    width:270px; 
    height:60px; 
    border:1px solid;
    margin-top: 60px;
    border-radius: 20px
}

#marginPicture ul{
    list-style: none;
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
}

#pontosTxt {
    margin-bottom: 60px;
}

/* Janela custo de ocorrência */
#custoOcorrencia {
    margin-top: 70px;
    margin-left: -40px;
}

#formOccurrenceCost{
    margin-top: 20px;
    margin-bottom: 20px;
}

#custoTotal {
    margin-bottom: 70px;
}

/* Janela para registo de colaboradores, checklist e membros da equipa */
#registoColab, #registoTrabalho, #teamMember {
    margin-top: 60px;
}

/* Janela de equipa e operação avaliada com sucesso */
.submit {
    margin-top: 30px;
}

/* Janela dados da ocorrência */
.boxOne{
    background-color: var(--background-color);
    margin-bottom: 30px;
    margin-top: 50px;
    width: 300px;
    height: 145px;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
}

.boxTwo, .boxThree{
    display: flex;
    align-items: center;
    width: 315px;
}

.boxThree {
    margin-bottom: 80px;
}
#itemOne, #itemThree{
  position: relative;
  left: 20px;
}

#itemTwo, #itemFour{
  position: relative;
  left: 50px;
}

#list3 li {
    padding: 0px;
}

#workers {
    font-size: 20px;
}

.resposta {
    color: #AB0404;
}

/* Janela para confirmar a hora de chegada */
#chegadaTxt {
    margin-top: 80px;
    margin-bottom: 40px;
}

#horas {
    width: 170px;
    background: var(--secondary-color);
    font-size: 35px;
    border: none;
    margin-top: 20px;
}

/* Janela para avaliação externa e do local */
.item1 {
    margin-top: 60px;
    margin-bottom: 30px;
}

#addWitness {
    margin-top: 30px;
    margin-bottom: 100px;
}

/* Janela da lista de ocorrências */
.radioButtons {
    margin-top: 70px;
    margin-bottom: 10px;
}

/* Janela principal */
#occurrences {
    margin-top: 500px;
    margin-bottom: 200px;
    width: 200px;
}